*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #ed8325;

}
.container{
    width: 90%;
    max-width: 600px;
    background-color:rgb(241, 188, 118);
    display: block;
    margin: 100px auto 0;
    border-radius: 10px;
    padding:30px;
}
.container .heading{
    font-size: 25px;
    color:#0e1a1add;
    font-weight: 600;
    padding-bottom: 30px;
}
.container .question{
    font-size: 25px;
    padding: 25px 0;
    color:#3d2007;
}
.container .question ul li{
    color: #830743;
    font-weight: 500;
    width: 100%;
    font-size: 30px;
    margin: 15px 0;
    padding: 10px;
    list-style: none;
    border: 1px solid #ee7206;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.question .answers .btn li:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.question .answers .btn li:disabled{
    cursor: not-allowed;
}

.container button{
    background: #ec7309;
    color: #040335;
    margin:12px auto 0;
    font-size: 25px;
    border-radius: 4px;
    padding: 10px 60px;
    cursor: pointer;
    display: none;
    font-weight: 700;
}
.scoreBox{
    display: 'block';
    width: auto;
    margin: 5px;
    font-weight:500;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ec3535;
}